@model Proyecto1.WebUI.Models.Procedimiento

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Procedimiento</h1>

<h4>Datos del Procedimiento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" hidden="hidden"/>
            </div>
            <div class="form-group">
                <label asp-for="CedulaContacto" class="control-label"></label>
                <input asp-for="CedulaContacto" class="form-control" />
                <span asp-validation-for="CedulaContacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreMascota" class="control-label"></label>
                <input asp-for="NombreMascota" class="form-control" />
                <span asp-validation-for="NombreMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoProcedimiento" class="control-label"></label>
                @Html.DropDownList("TipoProcedimiento", ViewBag.TiposDeProcedimientos, null, new { @class = "form-control" })
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Guardar" class="btn btn-primary" /> | 
                <a asp-action="Index">Volver a la lista de procedimiento</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
